<!DOCTYPE html>
<html>
    <head>
        
    </head>
<body>
    <form>
        <P>Name: <input type="text" name="name" id="name" /></P>
        <p>RegNo:<input type="text" name="regNo" id="regNo" /></p>
        <P><input type="submit" value="Save" /></P>
    </form>
</body>
</html>